* { font-family: "Microsoft YaHei", Arial, sans-serif; font-size: 12px }
html, body { overflow: hidden; height: 100% }
body, table { margin: 0px auto }
th, td { text-align: center; padding: 1px 3px }
th { font-weight: bold }
td { overflow: hidden }
pre { font-family: "Courier New" }
img { font-size: 0 }
menu { display: none }

.w-container { height:100%; position:relative }
.w-container > div { margin:4px 5px; height:auto; position:absolute; top:0; bottom:0; left:0; right:0 }

.w-fit { display: inline }

.w-theme-switcher * { font-size: 10px }
.ui-datepicker { z-index: 9999 }
#ui-datepicker-div { clip: auto }

.ui-layout-1-2-right-wrapper { float:left; height:100%; width:100% }
.ui-layout-1-2-right-wrapper > div { height:100% }
.ui-layout-1-2-left { float:left; height:100%; margin-left:-100% }

.ui-layout-2-1-wrapper { display:table; height:100%; width:100%;  }
.ui-layout-2-1-up { display:table-row; height:1px; width:100%; }
.ui-layout-2-1-down { display:table-row; width:100%; }

.ui-widget-header { border-radius: 2px 2px 0px 0px; -moz-user-select: none; -webkit-user-select: none }
.ui-widget-panel { margin: 8px 10px }

.ui-corner-all-3 { border-radius: 3px; }

input.ui-editor, select.ui-editor { position: relative }

ul.ui-tabs-nav > li { -moz-user-select: none; -webkit-user-select: none }
ul.ui-tabs-nav > li > a { outline: 0 }
ul.ui-tabs-nav > li > .ui-tab-icon { position: absolute; top: 50%; margin-top: -8px; left: 0.5em; display: none }
ul.ui-tabs-nav > li > .ui-tab-close { position: absolute; top: 50%; margin-top: -8px; right: 0.1em; cursor: pointer; display: none }
ul.ui-tabs-nav > li > a.ui-tab-with-icon { padding-left: 2.1em; }
ul.ui-tabs-nav > li > a.ui-tab-with-close { padding-right: 2.1em; }
.ui-tabs .ui-tabs-panel { padding: 0; height: 100%; position: relative; }
.ui-tabs .ui-tabs-panel .ui-tabs-container { height:auto; position:absolute; top:0; bottom:0; left:0; right:0; margin-bottom: 32px; overflow-y: scroll }
.ui-tabs-button-bar { text-align: center; margin-top: 5px }
.ui-tabs-button-bar input { margin:0 2px }

.ui-tabs.tabs-bottom { position: relative; }
.ui-tabs.tabs-bottom > .ui-tabs-panel { height: 140px; overflow: auto; }
.ui-tabs.tabs-bottom > .ui-tabs-nav { position: absolute !important; left: 0; bottom: -5px; right:0; padding: 0 0.2em 0.2em 0; }
.ui-tabs.tabs-bottom > .ui-tabs-nav > li { margin-top: -2px !important; margin-bottom: 1px !important; border-top: none; border-bottom: 1px solid #D3D3D3 !important; }
.ui-tabs.tabs-bottom > .ui-tabs-nav > li.ui-state-hover { border-bottom: 1px solid #AAAAAA !important; }

.ui-fieldset-tabs { margin: 4px 0 }
.ui-tabs-panel.ui-fieldset-tab { height: auto }
.ui-tabs-panel.ui-fieldset-tab > fieldset { border: 0 }

.w-panel-header { padding: 0px 10px; cursor: pointer; line-height: 28px }
.w-panel-content { padding: 5px }
.w-panel-header + .w-panel-content, .w-panel-header + * > .w-panel-content { border-top: 0px !important }
.w-panel-clear-left { clear: left; font-size: 0; height: 0; line-height: 0; overflow: hidden }

input, select, textarea, button { font-family: inherit !important }

form fieldset {
	border: 1px solid;
	border-color: #B5B8C8;
	display: block;
	margin-bottom: 10px;
	padding: 10px;
}
form fieldset.w-form-fieldset {
	border: 0px;
	padding: 0;
}

legend {
	-moz-user-select: none;
	line-height: 13px;
	padding: 0 2px;
}
legend input { height: 13px; width: 13px; margin-right: 3px; float: left }

fieldset.w-fieldset-collapse { border-width: 1px 0 0 0; padding: 0 10px; }
fieldset.w-fieldset-collapse .w-form-columns { display: none; }
fieldset.w-fieldset-collapse legend { margin-left: 1px; }

.w-form-columns { width: 100% }
.w-form-buttons { text-align: center; padding: 8px }
.w-form-buttons > .ui-button { margin: 0 10px }
.w-form-columns td { padding: 4px }
.w-form-label { text-align: right }
.w-form-element { text-align: left }
.w-form-required { color: red; margin-right: 5px }

.w-form-element input[type="text"], .w-form-element input[type="password"], .w-form-element textarea { 
	width: 100%; 
	max-width: 300px; 
	box-sizing: border-box; 
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.w-form-element select { width: 100%; max-width: 300px; height: 22px; }
.w-form-element span.ui-state-error-text { display: block; }

.w-paginator { float: right }
.w-paginator tr { line-height: 27px }
.w-paginator td { display: block; float: left }
.w-paginator td.w-paginator-icon { cursor: pointer; width: 21px; height: 21px; padding: 1px; margin-top: 3px }
.w-paginator td.w-paginator-icon div { padding: 1px; width: 18px; height: 18px; border: 1px solid transparent }
.w-paginator td.w-paginator-icon div.ui-state-hover { border: 1px solid #999999 }
.w-paginator td.w-paginator-icon span { width: 16px; height: 16px }
.w-paginator td.w-paginator-separator span { border-left: 1px solid #CCCCCC; border-right: 1px solid #FFFFFF; height: 22px; margin: 1px }
.w-paginator input { text-align:center; width: 29px; height: 20px }

.w-tree-action-bar { height: 28px; padding: 1px; white-space: nowrap; overflow: hidden; border-width: 0 0 1px 0 !important }
.w-tree-filter-bar { padding: 5px 8px 0px; height: 20px }
.w-tree-filter-bar input[type="text"] { float: left }
.w-tree-filter-bar .ui-icon { float: left; margin-left: -17px; margin-top: 3px; cursor: pointer }
.w-tree-content { padding: 5px 0 }
.w-tree-filter-enabled li { display: none !important; }
.w-tree-filter-enabled li.enabled { display: table !important; }

input[type="text"].ui-state-focus, input[type="password"].ui-state-focus, select.ui-state-focus { font-weight: normal !important }

.ui-icon-gripsmall-diagonal-se { background-image: none !important }

.ui-desktop-taskbar {
	position: absolute; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	background: url("../images/bar_bottom.png") repeat-x scroll 0 0 #333333; 
	border-top: 1px solid #FFFFFF;
	height: 30px;
	line-height: 30px;
	opacity: 0.8;
	overflow: hidden;
	padding: 5px; 
	text-shadow: 0 1px 1px #000000;
	-moz-user-select: none;
	-webkit-user-select: none; 
}

.ui-desktop-taskbar ul li {
	display: list-item;
	float: left;
	height: 30px;
	line-height: 30px;
	margin-left: 5px;
	position: relative;
}

.ui-desktop-taskbar ul li a {
	background-color: #333333;
	background-repeat: no-repeat;
	background-position: 6px 8px;
	border-radius: 5px;
	overflow: hidden;
	color: #FFFFFF;
	height: 30px;
	padding: 1px 10px 1px 26px;
	display: block;
	text-decoration: none;
	border: 1px solid #555555;
}

.ui-desktop-taskbar ul li a:hover {
	background-color: #000000;
}

.ui-desktop-taskbar ul li a:active, .ui-desktop-taskbar ul li.ui-desktop-dock-active a {
	background-color: #CC6600;
	border: 1px solid #B3B3B3;
}

.ui-desktop-taskbar ul li a img {
	vertical-align: middle;
	margin: -2px 4px 0px -4px;
}

.ui-desktop-menubar {
	background: url("../images/bar_top.png") repeat-x scroll left bottom #FFFFFF;
	border-bottom: 1px solid #333333;
	color: #999999;
	height: 25px;
	line-height: 25px;
	text-shadow: 0 1px 2px #FFFFFF;
	top: 0;
	padding: 0 10px
}

.ui-desktop-menubar li {
	float: left;
}

.ui-desktop-menubar li a {
	display: block;
	padding: 0 10px;
	color: #000000;
	height: 25px;
	min-height: 1px;
	overflow: hidden;
	text-decoration: none;
	background-image: url("../images/bar_top_link.png");
	background-position: -999px -999px;
	background-repeat: no-repeat;
}

.ui-desktop-menubar li a.ui-desktop-menu-active {
	background-color: #0066CC;
	background-position: 0 0;
	background-repeat: repeat-x;
	color: #FFFFFF;
	text-shadow: 0 1px 2px #000000;
}

.ui-desktop-menubar > a.ui-desktop-logout {
	float: right;
	padding: 3px;
}

.ui-desktop-menu {
	display: none;
	border-radius: 3px;
	background: #FFFFFF;
	border: 1px solid #333333;
	font-weight: normal;
	min-width: 120px;
	margin: -25px 0 0 118px;
	padding: 1px;
	position: absolute;
	z-index: 1001;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.ui-desktop-menu-1 {
	border-radius: 0 0 3px 3px !important;
	margin: 0 0 0 -1px !important;
}

.ui-desktop-menu li {
	float: none;
}

.ui-desktop-menu li a {
	border-bottom: 1px solid #EEEEEE;
}

.ui-desktop-menu li a .ui-icon {
	float: right;
	margin: 4px -10px 0 0;
}

.ui-desktop-menu li:last-child a {
	border-radius: 0 0 3px 3px;
	border: none;
}

.ui-desktop-menu li a.ui-desktop-shortcut, .ui-desktop-menu li:last-child a.ui-desktop-shortcut {
	height: 53px;
}

.ui-desktop-menu-hiding {
	z-index: 1000 !important;
}

.ui-desktop-desktop { 
	position: absolute; 
	bottom: 41px; 
	left: 0; 
	right: 0; 
	top: 26px; 
	overflow: hidden;
}

.ui-desktop-shortcut, .ui-desktop-menu li a.ui-desktop-shortcut, .ui-desktop-menu li:last-child a.ui-desktop-shortcut {
	position: absolute;
	display: block;
	width: 80px; 
	border-radius: 5px;
	background: url("../images/trans_white.png") no-repeat scroll -999px -999px transparent;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.3;
	padding: 6px 1px;
	text-align: center;
	text-shadow: 0 1px 2px #000000;
	text-decoration: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.ui-desktop-shortcut:hover, .ui-desktop-menu li a.ui-desktop-shortcut, .ui-desktop-menu li:last-child a.ui-desktop-shortcut {
	background-positon: 0 0;
	background-repeat: repeat;
	border: 1px solid #FFFFFF;
	padding: 5px 0;
}
.ui-desktop-shortcut img {
	background: url("../images/trans_black.png") no-repeat scroll -999px -999px transparent;
	display: block;
	height: 32px;
	margin: 0 auto 5px;
	width: 32px;
}

.ui-desktop-window {
	border-radius: 7px;
	background: none repeat scroll 0 0 rgba(100, 100, 100, 0.8);
	border: 1px solid #AAA;
	position: absolute !important;
	z-index: 10;
	padding-bottom: 36px;
}

.ui-desktop-window.ui-draggable-dragging {
	opacity: 0.5;
}

.ui-desktop-window.ui-draggable-dragging .ui-desktop-window-inner-container {
	display: none;
}

.ui-desktop-window-focus {
	box-shadow: 0 0 0 1px #EEEEEE inset, 0 0 15px rgba(0, 0, 0, 0.9);
	background-color: rgba(40, 40, 40, 0.8);
	border: 1px solid #000000;
	z-index: 999;
}

.ui-desktop-window-maximized {
	border-radius: 0px;
	box-shadow: none;
	border: none;
	padding-bottom: 39px;
	opacity: 1 !important;
}

.ui-desktop-title {
	color: #000000;
	cursor: default;
	display: block;
	height: 16px;
	line-height: 16px;
	font-size: 14px;
	margin: 0 110px 0 0;
	overflow: hidden;
	padding: 6px 0 6px 28px;
	text-shadow: 0 0 1px #FFFFFF, 3px 3px 5px #FFFFFF, -3px -3px 5px #FFFFFF, -3px 3px 5px #FFFFFF, 3px -3px 5px #FFFFFF;
	white-space: nowrap;
	-moz-user-select: none;
	-webkit-user-select: none;
	font-weight: bold;
}

.ui-desktop-buttons {
	border-radius: 0 0 4px 4px;
	box-shadow: -1px 1px 0 0 rgba(255, 255, 255, 0.65), 1px 1px 0 0 rgba(255, 255, 255, 0.65);
	border-color: -moz-use-text-color rgba(80, 36, 25, 0.7) rgba(80, 36, 25, 0.7);
	border-right: 1px solid rgba(80, 36, 25, 0.7);
	border-style: none solid solid;
	border-width: medium 1px 1px;
	position: absolute;
	right: 6px;
	top: 0;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.ui-desktop-button {
	box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.4) inset;
	background-position: center center;
	background-repeat: no-repeat;
	color: #FFFFFF;
	float: right;
	font-weight: bold;
	height: 18px;
	position: relative;
	text-align: center;
	text-indent: -9999px;
	width: 26px;
	cursor: default;
}

.ui-desktop-button:hover,
.ui-desktop-button:active {
	box-shadow: 0 0 1px 1px rgba(255,255,255,0.4) inset, 0 0 6px 4px rgba(90,210,255,0.5);
	z-index: 10;
	text-decoration: none;
}

.ui-desktop-button-min {
	border-radius: 0 0 0 4px;
	background-image: url("../images/_.png");
	border-right: 1px solid rgba(80, 36, 25, 0.7);
}

.ui-desktop-button-min:hover,
.ui-desktop-button-min:active {
	box-shadow: 0 0 1px 1px rgba(255,255,255,0.4) inset, 0 0 6px 4px rgba(90,210,255,0.5);
	background: url(../images/_.png) no-repeat center center, -moz-linear-gradient(top, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 50%), -moz-radial-gradient(center bottom, circle, #0affff, #005aa0 65%);
	background: url(../images/_.png) no-repeat center center, -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.6)), color-stop(50%,rgba(255,255,255,0.6)), color-stop(50%,rgba(255,255,255,0)), to(rgba(255,255,255,0))), -webkit-gradient(radial, center bottom, 0, center bottom, 15, from(#0affff), to(#005aa0));
}

.ui-desktop-button-max {
	background-image: url("../images/o.png");
	border-right: 1px solid rgba(80, 36, 25, 0.7);
}

.ui-desktop-button-max:hover,
.ui-desktop-button-max:active {
	box-shadow: 0 0 1px 1px rgba(255,255,255,0.4) inset, 0 0 6px 4px rgba(90,210,255,0.5);
	background: url(../images/o.png) no-repeat center center, -moz-linear-gradient(top, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 50%), -moz-radial-gradient(center bottom, circle, #0affff, #005aa0 65%);
	background: url(../images/o.png) no-repeat center center, -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.6)), color-stop(50%,rgba(255,255,255,0.6)), color-stop(50%,rgba(255,255,255,0)), to(rgba(255,255,255,0))), -webkit-gradient(radial, center bottom, 0, center bottom, 15, from(#0affff), to(#005aa0));
}

.ui-desktop-window-maximized .ui-desktop-button-max {
	background-color: transparent;
	background-image: url("../images/oo.png");
}

.ui-desktop-window-maximized .ui-desktop-button-max:hover {
	box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.4) inset, 0 0 6px 4px rgba(90, 210, 255, 0.5);
	background: url(../images/oo.png) no-repeat scroll center center, -moz-linear-gradient(center top , rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 50%) repeat scroll 0 0%, -moz-radial-gradient(center bottom , circle , #0AFFFF, #005AA0 65%) repeat scroll 0 0 #0066AB;
	background: url(../images/oo.png) no-repeat center center, -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.6)), color-stop(50%,rgba(255,255,255,0.6)), color-stop(50%,rgba(255,255,255,0)), to(rgba(255,255,255,0))), -webkit-gradient(radial, center bottom, 0, center bottom, 15, from(#0affff), to(#005aa0))  repeat scroll 0 0 #0066AB;
}

.ui-desktop-button-close {
	border-radius: 0 0 4px 0;
	background-image: url("../images/x.png");
	width: 46px;
}

.ui-desktop-button-close:hover {
	box-shadow: 0 0 1px 1px rgba(255,255,255,0.6) inset, 0 0 6px 4px rgba(255,100,48,0.5);
	background: url(../images/x.png) no-repeat center center, -moz-linear-gradient(top, rgba(255,255,255,0.4) 50%, rgba(0,0,0,0) 50%), -moz-linear-gradient(bottom, rgba(255,160,60,0.8), rgba(255,160,60,0) 35%), -moz-radial-gradient(center center, #d12300 50%, #a43c29);
	background: url(../images/x.png) no-repeat center center, -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.4)), color-stop(50%,rgba(255,255,255,0.4)), color-stop(50%,rgba(0,0,0,0)), to(rgba(0,0,0,0))), -webkit-gradient(linear, 50% 100%, 50% 65%, from(rgba(255,160,60,0.8)), to(rgba(255,160,60,0))), -webkit-gradient(radial, center center, 0, center center, 50, from(#d12300), to(#a43c29));
}
.ui-desktop-button-close:active {
	background: url(../images/x.png) no-repeat center center, -moz-linear-gradient(top, rgba(255,255,255,0.4) 50%, rgba(0,0,0,0) 50%), -moz-linear-gradient(bottom, rgba(255,160,60,0.8), rgba(255,160,60,0) 35%), -moz-radial-gradient(center center, #8d2008 50%, #471307);
	background: url(../images/x.png) no-repeat center center, -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.4)), color-stop(50%,rgba(255,255,255,0.4)), color-stop(50%,rgba(0,0,0,0)), to(rgba(0,0,0,0))), -webkit-gradient(linear, 50% 100%, 50% 65%, from(rgba(255,160,60,0.8)), to(rgba(255,160,60,0))), -webkit-gradient(radial, center center, 0, center center, 50, from(#8d2008), to(#471307));
}

.ui-desktop-window-inner-container {
	border-radius: 1px;
	box-shadow: 0 0 0px 1px rgba(255,255,255,0.65);
	border: 1px solid #666;
	color: #000;
	height: 100%;
	position: relative;
	margin: 0 6px;
	overflow: hidden;
}

.ui-desktop-window-inner {
	background-color: #fff;
	color: #000;
	overflow: auto;
	position: relative;
	left: 0 !important;
	top: 0 !important;
	height: 100%;
	width: 100%;
}

.ui-desktop-window-maximized .ui-desktop-window-inner-container {
	border-radius: 0;
	box-shadow: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
	height: 100%;
	margin: 0;
	position: relative;
}

.ui-desktop-window-maximized > .ui-resizable-handle {
	display: none;
}

.ui-desktop-tray { color: #fff }
.ui-desktop-tray a { color: #fff }
.ui-desktop-tray img { vertical-align: middle }

.ui-desktop-window-button-bar {
	background: url(../images/window-bottom-bg.gif) repeat-x;
	height: 53px;
	text-align: right;
}

.ui-desktop-window-button-bar a {
	vertical-align: middle;
	background: url(../images/window-button.gif);
	display: inline-block;
	width: 87px;
	height: 28px;
	margin: 14px 14px 0 0;
	text-align: center;
	text-decoration: none;
	color: #000;
	line-height: 27px;
}

.ui-desktop-window-button-bar a:hover, .ui-desktop-window-button-bar a:focus {
	background: url(../images/window-button-active.gif);
}

.ui-desktop-overlay {
	width: 100%;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 1001;
	display: none;
}

.ui-desktop-overlay-focus {
	background-color: rgba(0, 0, 0, 0.4);
}

.ui-desktop-window-modal {
	z-index: 1002 !important;
}

.ui-desktop-window-no-buttons > .ui-desktop-title {
	margin: 0 !important;
}

.ui-desktop-window-no-buttons > .ui-desktop-buttons {
	display: none;
}

.ui-desktop-dialog {
	overflow-x: hidden;
}
.ui-desktop-dialog pre {
	font-family: Helvetica, "Microsoft YaHei", sans-serif; 
	font-size: 13px;
	padding: 20px 10px 20px 76px;
	white-space: pre-wrap; 
}
.ui-desktop-dialog img {
	position: absolute;
	top: 20px;
	left: 20px;
}

.ui-desktop-notices {
	position: fixed;
    top: 30px;
    right: 20px;
    width: 250px;
    z-index: 9999;
}

.ui-desktop-notice {
	height: 60px;
	background: #333;
	border-radius: 6px;
	color: #eee;
	padding: 6px 6px 0 6px;
	font-size: 12px;
	border: 2px solid #999;
	display: block;
	position: relative;
	margin: 0 0 12px 0;
}

.ui-desktop-notice-close {
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	right: 6px;
	top: 6px;
	cursor: pointer;
}

.ui-upload-file {
	position: absolute;
	right: 0;
	top: -100px;
	font-size: 460px !important;
	margin: 0;
	padding: 0;
	opacity: 0;
}
.ui-upload-entry { height: 17px }
.ui-upload-entry input { margin-right: 2px }
.ui-upload-progress-bar { height: 15px; width: 100px; display: inline-block; vertical-align: middle; margin-left: 5px }

.ui-buttonset .ui-button {
	margin-right: 1px;
}

.ui-contextmenu {
	position: absolute;
	line-height: 180%;
	min-width: 160px;
	padding: 3px;
	z-index: 1000;
	background-image: none;
	background-color: #f0f0f0;
	color: #313131;
	border: 1px solid #979797;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}

.ui-contextmenu > li {
	position: relative;
	padding: 0px 5px;
	cursor: default;
	border: 1px solid transparent;
	height: 22px;
}

.ui-contextmenu > li > ins.ui-contextmenu-icon {
	display: inline-block;
    height: 16px;
    width: 16px;
    text-decoration: none;
    margin-right: 16px;
    line-height: 16px;
}

.ui-contextmenu > li > ins.ui-contextmenu-seperator {
    position: absolute;
    top: -1px;
    left: 28px;
    height: 24px;
    width: 0px;
    text-decoration: none;
	border-left: 1px solid #ccc;
	border-right: 1px solid #fff;
}

.ui-contextmenu > li.ui-state-hover {
	border: 1px solid #aecff7;
	background-color: #edf1f7;
	overflow: hidden;
}

.ui-contextmenu > li.ui-contextmenu-hr {
	margin: 3px 0;
	padding: 0px;
	height: 0px
}

.ui-contextmenu > li.ui-contextmenu-hr > ins.ui-contextmenu-seperator {
	height: 8px;
	top: -4px;
}

.ui-contextmenu > li.ui-contextmenu-hr > ins.ui-contextmenu-hr {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	margin-left: 30px;
	padding-left: 30px;
	display: block;
	padding: 0px;
	height: 0px;
	text-decoration: none;
}

.ui-rendering *{ visibility: hidden;}

.ui-contextmenu > li.ui-disabled { color: #777; }

.w-access-checking { display: none }

<!-- 目录处下拉框样式控制 -->

.myCatalogFieldset .w-form-label { text-align: left !important;}

.myCatalogFieldset .w-form-label label { text-align: left !important;}

.myCatalogFieldset .w-form-element select { max-width: 300px; height: 22px;width:150px; }